
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilos Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Poppins', Arial, sans-serif;
}

:root{
    --cP:#1a1a1a;
    --cS:#f3f3f3;
    --cT:#525252;
}

.interface{
    max-width: 1280px;
    margin: auto;
}


.flex{
    display: flex;
}

h2.titulo{
    font-size: 30px;
    color: var(--cP);
    text-align: center;
    margin-bottom: 30px;
}

h3{
    color: var(--cT);
}

p{
    font-size: 18px;
    color: var(--cT);
    text-align: justify;
}

html {
    scroll-behavior: smooth;
}

.logo img{
    width: 60px;
    opacity: 0.3;
    cursor: pointer;
    transition: 500ms;
}

.logo img:hover{
    opacity: 1;
    transition: 500ms;
}



/* estilo botão scroll up */
.scrolltop{
    outline: none;
    border: 0;
    width: 50px;
    height: 50px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999;
    background-color: transparent;
    cursor: pointer;
    opacity: .4;
    visibility: hidden;
    transition: all .4s ease;
}

.scrolltop.active{
    opacity: .6;
    visibility: visible;
}

.scrolltop img{
    width: 100%;
}

.scrolltop img:hover{
    transform: scale(1.5);
    transition: 500ms;
    filter: contrast(500%);
}

/* estilo do cabeçalho */

header{
    background-color: var(--cP);
    font-family: 'Montserrat';
    padding: 10px 0px;
    width: 100%;
    top: 0;
    padding: 30px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: var(--cT);
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    position: relative;
}

header a:hover{
    color: var(--cS);
    transform: scale(1.3);
    transition: 500ms;
}

.active{
    color: var(--cS);
    transform: scale(1.3);
    transition: 500ms;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    padding: 10px 40px;
    height: 40px;
}

header .btn-contato button{
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--cT);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover{
    background-color: var(--cS);
}

/* estilo hero area */
section.hero-area{
    padding: 80px 4%;
    height: 100vh;
    margin-top: 100px;
}

section.hero-area .flex{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.txt-title {
    position: relative;
    width: 600px;
    height: 100px;
    overflow: hidden;
    perspective: 500px; 
}

.txt-title .txt-rolling {
    color: var(--cP);
    position: absolute;
    font-weight:700 ;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    opacity: 0;
    animation: fadetext 10s infinite ;
    transform-origin: center;
}

.txt-rolling:nth-child(1) {
    animation-delay: 0s;
}

.txt-rolling:nth-child(2) {
    animation-delay: 3s;
}

.txt-rolling:nth-child(3) {
    animation-delay: 6s;
}

@keyframes fadetext {
    0% { opacity: 0; transform: rotateX(90deg); top: 10px;
    }10% { 
        opacity: 1; transform: rotateX(0); top: 0px;
    } 30% {
        opacity: 1; transform: rotateX(0); top: 0px;
    }40% { 
        opacity: 0; transform: rotateX(-45deg); top: 10px;
    }50% { 
        opacity: 0; transform: rotateX(-90deg); top: 5px;
    }100% { 
        opacity: 0; transform: rotateX(-90deg); top: 20px;
    }
}


.hero-area .txt-hero h1{
    color: var(--cP);
    font-size: 28px;
    font-weight: 400;
}

.hero-area .txt-hero p{
    color: var(--cT);
    
}

.hero-area .social-area{
    margin-top: 10px;
}

.social-area {
    width: 400px;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.social-area .social-icon {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: 1s;
    animation: zoom-in-out 5s infinite;
    animation-delay: 5s;
}

.social-area:hover .social-icon {
    animation-play-state: paused;
}


@keyframes zoom-in-out{
    0%,25%,100%{
        transform: scale(1);
    }12.5%{
        transform: scale(1.5);
    }
}

/* Tecnologias */
section.tecnologias{
    padding: 80px 4%;
    height: 100vh;
}

.tec-p{
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.logos{
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
    margin-top: 100px;
}

.logos::before, 
.logos::after {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0), white);
    content: "";
    z-index: 2;
}

.logos::before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), white);
}

.logos::after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), white);
}

.logos:hover .logos-slide{
    animation-play-state: paused;
}

.logos-slide{
    display: inline-block;
    animation: slide 40s infinite linear;
}

.logos-slide img{
    height: 60px;
    margin: 0 40px;
    cursor: pointer;
    filter: grayscale(200%) invert(100) brightness(-10%);
}

.logos-slide img:hover{
    transform: scale(1.5);
    transition: 2s;
    filter: grayscale(0%) contrast(100%);
}


@keyframes slide{
    from{
        transform: translateX(0%);
    }to {
        transform: translateX(-100%);
    }
}


/* animação tecnologias*/
@keyframes fluter{
    0%{
        top: 0;
    }
    100%{
        top: 20px;
    }
}


/* estilo sobre */

section.sobre{
    padding: 80px 4%;
    height: 100vh;

}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .blob{
    width: 500px;
    height: 280px;
    border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
    overflow: hidden;
    animation: flow 4s infinite ease-in-out;
    background-color: var(--cS);
    box-shadow: 17px 17px 30px #d0d0d0,-17px -17px 30px #f0f0f0;
}

.blob img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.sobre .txt-sobre{
    color: var(--cP);
}

.sobre .txt-sobre h2{
    font-size: 30px;
    margin-bottom: 30px;
}

.sobre .txt-sobre p{
    margin: 20px;
    text-align: justify;
}

.sobre .social-icon{
    width: 40px;
}

.sc-area{
    display: flex;
    justify-content: center;
    gap: 20px;
}


@keyframes flow{
    0%{
        border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
    }
    35%{
        border-radius: 80% 70% 60% 60% / 80% 70% 60% 60%;
    }
    70%{
        border-radius: 70% 90% 60% 70% / 80% 90% 50% 90%;
    }
    100%{
        border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
    }
}
/* estilo Serviços */

section.servicos{
    padding: 80px 4%;
    height: 100vh;
}

.card-serv {
    height: auto;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card{
    color: var(--cT);
    padding: 30px;
    width: 220px;
    height: 250px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    filter: grayscale(130%);
    justify-content: center;
    align-items: center;
}

.card:hover{
    color: var(--cT);
    transform: scale(1.2);
    transition: 1s;
    filter: grayscale(0%);
    font-weight: bold;
}

.dvw{
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(../images/responsivo.gif);
    background-size: cover;
    text-align: center;
}
.cs{
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(../images/local-na-rede-internet.gif);
    background-size: cover;
}
.ci{
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(../images/estrutura-da-web.gif );
    background-size: cover;
}

.sub-serv{
    text-align: center;
}

.card-serv p{
    text-align: center;
    font-size: 16px;
} 


/* estilo Projetos */

section.projetos{
    padding: 80px 4%;
    height: 100vh;
}
.proj-area{
    margin-top: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;

}

.proj-card{
    height: 300px;
    width: 500px;
    background-color: var(--cP);
    color: var(--cS);
    border-radius: 25px;
    box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.p-side{
    position: relative;
    width:200px;
    height: 100%;
    border-radius: 25px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.473);
    transition: transform 300ms ease;
    transform: translateZ(0) scale(1.05) perspective(1000px);
	float: left;
    background-image: url("../images/Novo\ Projeto.jpg");
    background-size: cover;
    background-position: 100% 0%;   /*Primeiro valor eixo x segundo valor eixo y*/
    transition: 2s;                 /*deixar rolagem suave*/
    overflow: hidden;
    cursor: pointer;
}

.p-side:hover{
    transform: scale(1.2) perspective(1500px) rotateY(30deg);
    background-position: 100% 100%;
    transition: 5s; 
}

.i-side{
    float: left;
    position: relative;
    height: 100%;
    text-align: center;
    width: 290px;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 15px 10px;


}

.today-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.today-info {
	padding: 0px;
	margin: 0 15px 15px 15px;
    text-align: center;
}


.today-info>div .title {
	font-weight: 700;
    text-align: center;
}

.i-text p{
    padding: 0 10px 0px 20px;
    color: #c0c0c0;
    height: 200px;
    font-size: 16px;

}

/* estilo formulario */

section.formulario{
    padding: 80px 4%;
    margin-top: 600px;
}

form{
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 60px;
}

form input, form textarea{
    width: 100%;
    background-color: var(--cS);
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Montserrat';
}

form textarea{
    resize: none;
    max-height: 600px;
}

form .btn-enviar{
    margin-top: 25px;
    text-align: center;
}
form .btn-enviar input{
    width: 125px;
    color: var(--cS);
    background-color: var(--cT);
    font-weight: 700;
    cursor: pointer;
}

form .btn-enviar:hover input{
    color: var(--cS);
    background-color: var(--cP);
    cursor: pointer;
    transform: scale(1.1);
    transition: .5s;

}

/* estilo rodapé */
footer{
    padding: 60px 4%;
    background-color: var(--cP);
    color: var(--cT);
    text-align: center;
    display: flex;
}


/* Responsividade */

@media screen and (max-width:1120px){

    /*classes gerais  */
.flex{
    flex-direction: column;
}

.logo img{
    margin-left: 20px;
}


    /* cabeçalho */

.menu-desktop, .btn-contato, .scrolltop{
    display: none;
}


    /* hero area */

.txt-title .txt-rolling{
    font-size: 28px;
}

.hero-area .txt-hero h1{
    font-size: 20px;
    margin-bottom: -30px;
}

.hero-area{
    margin-top: 120px;
}

/* Tecnologias */

section.tecnologias{
    padding: 80px 4%;
    height: 100vh;
}

.logos-slide img{
    height: 40px;
    margin: 0 10px;
}

.logos::before, 
.logos::after {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0), white);
    content: "";
    z-index: 2;
}


.logos::before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), white);
}

.logos::after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), white);
}

.logos-slide img{
    height: 60px;
    margin: 0 30px;
    cursor: pointer;
    filter: grayscale(200%) invert(100) brightness(-10%);
}


/* sobre */

.sobre .txt-sobre h2{
    text-align: center;
}
section.sobre .flex{
    flex-direction: column-reverse;
    
}

.sobre .blob{
    width: 200px;
    height: 240px;
}

/* serviços */

section.servicos{
    margin-top: 300px;
}

.card{
    color: var(--cT);
    padding: 30px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    filter: grayscale(130%);
}

/* Projetos */
section.projetos{
    margin-top: 400px;
    height: 100vh;
    margin-bottom: 1000px;
}

section.projetos .flex{
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}

.proj-card{
    margin-bottom: 50px;
}
}

@media screen and (max-width:601px){



/* hero */
    section.hero-area{
        padding: 80px 4%;
        height: 100vh;
        margin-top: 100px;
    }
    
    section.hero-area .flex{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    
    .txt-title {
        width: 100%;
        height: 80px;
    }

    .hero-area .txt-hero h1{
        color: var(--cP);
        font-size: 16px;
        font-weight: 400;
    }
    
    .txt-title .txt-rolling {
        font-weight:700 ;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        opacity: 0;
        animation: fadetext 10s infinite ;
        transform-origin: center;
    }

    .txt-rolling:nth-child(1) {
        animation-delay: 0s;
    }
    
    .txt-rolling:nth-child(2) {
        animation-delay: 3s;
    }
    
    .txt-rolling:nth-child(3) {
        animation-delay: 6s;
    }
    


/* serviços */

section.servicos{
    margin-top: 900px;
}

.card{
    color: var(--cT);
    padding: 30px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    filter: grayscale(130%);
}



/* Projetos */
section.projetos{
    margin-top: 400px;
    height: 100vh;
    margin-bottom: 1000px;
}

section.projetos .flex{
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}


.proj-card{
    height: 400px;
    width: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.p-side{
    position: relative;
    width:100%;
    height: 100%;
}


.i-side{
    height: 1000px;
    width: auto;
}

.today-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}




}