@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,700&display=swap');


:root{
    --corP: #1e1e1e;
    --corS: #fff;
    --corT: #898989;
    --fP: Poppins, sans-serif;
    --fS: Ubuntu, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 4rem;
    background-color: var(--corP);
    width:100vw;
    position: fixed;
    z-index: 100;
}

.menu-area{
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--corS);
    height: 100%;
    width: 4rem;
}

nav.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.menu ul{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    list-style: none;
    justify-content: center;
    
}

.menu-item{
    padding: 1rem;
}

.menu ul li a{
    height: 1rem;
    font-family: var(--fS) ;
    font-weight: 500;
    font-size: 1rem;
    color: var(--corS);
    text-decoration: none;
    transition: .4s;
    margin-right: 2rem;
}

.menu ul li a:hover{
    color: var(--corT);
    border-bottom: .1rem solid var(--corT) ;
    transition: 1s;
    
}

.menu ul li a.active{
    color: var(--corT);
    border-bottom: .1rem solid var(--corT);
    font-size: 1.2rem;
}




.bm{
    background-image: url("/assets/img/bmenu.svg");
    transform: rotate(180deg) scaleX(-1);
    height: 60px;
    width: 100%;
}



main{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.container{
    height:100%;
    width: 80%;
    margin: auto;

}

.banner{
    display: flex;
    margin: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-banner{
    text-align: center;
    font-family: var(--fP);
    margin-bottom: 10px;
}

#nameBanner{
    font-size: 1.5rem;
}

.text-wrapper{
    line-height: 0;
    font-size: 3rem;
    font-weight: 600;
    margin: 30px;
}


#text1 {
    opacity: 0;
}
#text2 {
    opacity: 0;
}
#text3 {
    opacity: 0;
}

.animation{
    animation: animation 3s ease-out infinite;
    animation-delay: 0s;
    opacity: 1;
}

@keyframes animation{
    0%{opacity: 0;
        transform:translateY(20px);
    }50%{ opacity: 1;
        transform:translateY(0);
    }75%{ opacity: .3;
        transform:translateY(-15);
    }100%{ opacity: 0;
        transform:translateY(-30px) ;
    }
}



.text-banner h1{
    font-size: 2rem;
}

.social-area{
    display: flex;
    height: 100px;
    width: 300px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 5ms ease-in;
}
.social-link{
    font-size: 50px;
}

.social-link a{
    color: var(--corT);
}

.social-link .fa-brands.fa-linkedin{
    margin-left: 50px;
}

.social-link a:hover {
    color: var(--corP);
    font-size: 70px;
    transition: .7s;
}

.container.sobre{
    text-align: center;
}


h2{
    font-size: 2rem;
    font-family: var(--fP);
    margin-bottom: 30px;
}
.text-area p{
    font-size: 1rem;
    font-family: var(--fP);
    font-weight: 500;
}

.tech-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.tech-area ul{
    display: flex;
    list-style: none;
}

.tech-icon{
    margin-right: 20px;
}

.container.projetos{
    background-color: aqua;
    display: flex;
    justify-content: center;
}